<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} | {{ site.title }}</title>
	{% if page.layout == 'work-progress' %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/work-progress.css">
	{% else %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
	{% endif %}
</head>
<body class="{{ page.body-classes }}">