<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% feed_meta %}
    {% seo %}
	{% include head-data/meta-keywords.html %}
	{% include head-data/google-fonts.html %}
	{% include head-data/styles.html %}
	{% include head-data/favicon.html %}
</head>
<body>
    <div class="big-wrapper">
		<h1 class="logo"><a href="{{ site.url }}/">{{ site.title }}</a></h1>