<!-- Open Graph Title -->
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">

<!-- Open Graph Type -->
<meta property="og:type" content="website">

<!-- Open Graph URL -->
<meta property="og:url" content="{{ page.url | absolute_url }}">

<!-- Open Graph Image -->
{% if page.ogimage %}
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}assets/images/blog/{{ page.slug }}-ogimage.jpg">
{% elsif page.image %}
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}assets/images/blog/{{ page.slug }}-image.jpg">
{% elsif site.ogimage %}
<meta property="og:image" content="{{ site.ogimage }}">
{% else %}
<meta property="og:image" content="{{ site.image }}">
{% endif %}

<!-- Open Graph Description -->
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

<!-- Open Graph Site Name -->
<meta property="og:site_name" content="{{ site.title }}">