---
---

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection {
	background: #000;
	color: #F02849;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #F02849;
	text-shadow: none;
}


$font: "Inter", "Helvetica Nue", "Helvetica", Sans-Serif;
$base-font-size: 16px;

$color-dark: #1d1d1d;
$color-light: #fefefe;

html {
	font-size: $base-font-size;
}
body {
	overflow-y: scroll;
	font-family: $font;
	background: $color-light;
}

.site-banner {
	background: rgb(180, 47, 29);
	color: $color-light;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding: .5rem;
	text-align: center;
	text-decoration: underline;
}

.site-header {
	background: $color-dark;
	color: $color-light;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.site-title {
	display: none;
}
.site-title a,
.site-title a:visited {
	color: inherit;
	text-decoration: none;
	font-size: 1.5rem;
}
.site-title a:hover,
.site-title a:focus {
	text-decoration: underline;
}
.site-nav ul {
	padding: 0 3rem;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	text-align: center;
}
.site-nav li {
	flex-grow: 1;
}
.site-nav a,
.site-nav a:visited {
	padding: 1rem;
	color: $color-light;
	display: block;
	text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
	background: #0d0d0d;
}

.site-footer {
	background: $color-dark;
	color: $color-light;
	padding: 1.5rem;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.bar {
	position: fixed;
	top: 3rem;
	height: calc(100% - 6rem);
	background: $color-dark;
	width: 3rem;
}
.bar-left {
	left: 0;
}
.bar-right {
	right: 0;
}

.big-container {
	margin: 3rem 3rem 4rem;
}
@media screen and (max-width: 800px) {
	.site-nav li {
		width: 50%;
	}
	.big-container {
		margin-top: 9rem;
	}
}

.page-title {
	font-size: 1.5rem;
	text-align: center;
}


.content-styles {
	line-height: 1.5;
}
.content-styles a,
.content-styles a:visited {
	color: rgb(33, 120, 179);
}



.clearfix {
	clear: both;
}