---
---

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection {
	background: #0645AD;
	color: #dfdfff;
	text-shadow: none;
}
::selection {
	background: #0645AD;
	color: #dfdfff;
	text-shadow: none;
}

.DARKMODE *::-moz-selection {
	background: #1d1b1a;
	color: #756d5e;
	text-shadow: none;
}
.DARKMODE *::selection {
	background: #1d1b1a;
	color: #756d5e;
	text-shadow: none;
}

body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #6d6d6d;
	background: #fefefe;
	overflow-y: scroll;
}
.DARKMODE {
	background: #1d1d1d;
	color: #c5c5c5;
}

.wrap {
	width: 800px;
	max-width: 90%;
	margin: 3.5rem auto 0;
}
h1 {
	font-size: 2rem;
	text-align: center;
}
h1 span {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	border-bottom: 2px solid #6d6d6d;
	padding-bottom: .5rem;
	line-height: 1.25;
}
.line-chunk {
	height: 3.5rem;
	position: relative;
}
.line-chunk.smaller {
	height: 2rem;
}
.line-chunk::before,
.data-chunk::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 100%;
	display: block;
	background: #6d6d6d;
	top: 0;
	left: 30%;
	transition: all .3s ease;
}

.main-info {
	border: 2px solid #6d6d6d;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	line-height: 1.5;
	overflow: hidden;
}
.COLLAPSED .main-info {
	display: none;
}
.main-info section {
	flex-basis: 33.33%;
	padding: 1.5rem;
	position: relative;
}
.main-info section:not(:first-child)::before,
.main-info section:not(:first-child)::after {
	content: "";
	border-left: 2px solid #6d6d6d;
	height: 2rem;
	position: absolute;
	display: block;
	left: -1px;
}
.main-info section:not(:first-child)::before {
	top: 0;
}
.main-info section:not(:first-child)::after {
	bottom: 0;
}
.main-info section h2 {
	font-size: 1.35rem;
	margin-bottom: 1rem;
	text-align: center;
}
.mi-colors li {
	position: relative;
	padding-left: 1.25rem;
}
.mi-colors li::before {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	left: 0;
	top: .225rem;
	position: absolute;
	border: 2px solid #6d6d6d;
	border-radius: 1rem;
}
li.mic-inprogress::before {
	background: #33b849;
	border-color: #33b849;
}
li.mic-cancelled::before {
	background: #ce3d3d;
	border-color: #ce3d3d;
}
li.mic-tobestarted::before {
	background: #fefefe;
}
li.mic-completed::before {
	background: #6d6d6d;
}

.mi-settings li {
	margin-bottom: .5rem;
}
.mi-settings a,
.expand-info a {
	max-width: 100%;
	padding: .25rem .5rem;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #6d6d6d;
}

.expand-info {
	margin-left: 25%;
	display: none;
}
.COLLAPSED .expand-info {
	display: block;
}

.mi-settings #darkModeToggle::after {
	content: ": Off"
}
.DARKMODE .mi-settings #darkModeToggle::after {
	content: ": On"
}
.mi-settings #reverseToggle::after {
	content: ": Off"
}
.REVERSED .mi-settings #reverseToggle::after {
	content: ": On"
}
.mi-settings #animationToggle::after {
	content: ": Off"
}
.ANIMATE .mi-settings #animationToggle::after {
	content: ": On"
}
.mi-settings #collapseToggle::after,
#expandToggle::after {
	content: ": Off"
}
.COLLAPSED .mi-settings #collapseToggle::after,
.COLLAPSED #expandToggle::after {
	content: ": On"
}


@media screen and (max-width: 900px) {
	.main-info section h2 {
		text-align: left;
	}
	.main-info section {
		flex-basis: 100%;
	}
	.main-info section:not(:first-child)::before,
	.main-info section:not(:first-child)::after {
		border-left: none;
		border-top: 2px solid #6d6d6d;
		height: 0;
		width: 2rem;
		top: 0;
	}
	.main-info section:not(:first-child)::before {
		left: 0;
	}
	.main-info section:not(:first-child)::after {
		left: calc(100% - 2rem);
	}
}


.REVERSED .event-container {
	flex-direction: column-reverse;
}
.event-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: none;
}
.event-container .data-chunk {
	width: 100%;
}



.data-chunk {
	position: relative;
	padding: 1.5rem 0;
}
@media screen and (min-width: 950px) {
	.ANIMATE .data-chunk:hover .data-chunk-status {
		transform: scale(1.2);
	}
	.ANIMATE .data-chunk:hover .data-chunk-date {
		transform: scale(1.2) translateX(-10%);
	}
	.ANIMATE .data-chunk:hover .data-chunk-files {
		transform: scale(1.1) translateX(5%);
	}
}
.data-chunk h2 {
	font-size: 1.35rem;
}
.data-chunk.cancelled * {
	text-decoration: line-through;
}
.data-chunk-date {
	position: absolute;
	text-align: right;
	top: 1.75rem;
	right: calc(70% + 20px);
	transition: all .3s ease;
	line-height: 1.5;
}
.data-chunk-status {
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	border: 2px solid #6d6d6d;
	top: 1.75rem;
	left: calc(30% - 7px);
	background: #fefefe;
	box-shadow: none;
	transition: all .3s ease;
}
.status-completed {
	background: #6d6d6d;
}
.status-in-progress {
	background: #33b849;
	border-color: #33b849;
}
.status-cancelled {
	background: #ce3d3d;
	border-color: #ce3d3d;
}
.data-chunk-files {
	max-width: calc(70% - 20px);
	padding: .5rem 1.5rem;
	margin-left: calc(30% + 20px);
	border: 2px solid #6d6d6d;
	border-radius: 1rem;
	display: inline-block;
	line-height: 1.5;
	transition: all .3s ease;
}
.data-chunk-files ul {
	list-style-type: disc;
	margin-left: 1.5rem;
}
.data-chunk a,
.data-chunk a:visited {
	color: #0645AD;
}


form.passContainer {
	margin: 2.5rem auto;
	text-align: center;
	line-height: 1.5;
	width: 250px;
}
label[for="pass"],
.pass,
.passSubmit {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}
label[for="pass"] {
	font-size: 1.5rem;
}
.pass {
	border: 2px solid #6d6d6d;
	border-radius: 1rem;
	padding: .25rem .75rem;
}
.passSubmit {
	border: 2px solid #6d6d6d;
	background: #fefefe;
	color: #6d6d6d;
	padding: .25rem .5rem;
	cursor: pointer;
	width: 80%;
	margin: 0 auto;
}
.DARKMODE label[for="pass"],
.DARKMODE .pass,
.DARKMODE .passSubmit {
	color: #c5c5c5;
	background: inherit;
}

.clearfix { clear: both; }