{% include head.html %}

<div class="wrap">
	<h1><span>{{ page.title }}</span></h1>
	<div class="line-chunk"></div>
	<header class="main-info">
		<section class="mi-instructions">
			<h2>Instructions</h2>
			<p>You can see the list of events that will happen during this project after this section. You can reference what each color circle means with the chart. You can adjust settings as well.</p>
		</section>
		<section class="mi-colors">
			<h2>Colors</h2>
			<ul>
				<li class="mic-tobestarted">To Be Started</li>
				<li class="mic-completed">Completed</li>
				<li class="mic-inprogress">In Progress</li>
				<li class="mic-cancelled">Cancelled</li>
			</ul>
		</section>
		<section class="mi-settings">
			<h2>Settings</h2>
			<ul>
				<li><a id="darkModeToggle" href="#DARKMODE">Dark Mode</a></li>
				<li><a id="reverseToggle" href="#REVERSE">Reverse Outputs</a></li>
				<li><a id="animationToggle" href="#ANIMATIONS">Animations</a></li>
				<li><a id="collapseToggle" href="#COLLAPSE">Collapse Info</a></li>
			</ul>
		</section>
	</header>
	<header class="expand-info">
		<a id="expandToggle" href="#">Collapse Info</a>
	</header>
	<div class="line-chunk smaller"></div>
	<div class="event-container">
		{% for event in page.work-progress-events %}
			<div class="data-chunk {{ event.status }}">
				<div class="data-chunk-date">
					<p>{{ event.date }}</p>
					{% if event.strike-date %}
					<p><s>{{ event.strike-date }}</s></p>
					{% endif %}
				</div>
				<div class="data-chunk-status status-{{ event.status }}" aria-label="This item is {{ event.status }}"></div>
				<div class="data-chunk-files">
					<h2 class="item-title">{{ event.title }}</h2>

					{% if event.notes %}
						<h3>Notes:</h3>
						<ul>
						{% for note in event.notes %}
							<li>
								{{ note }}
							</li>
						{% endfor %}
						</ul>
					{% endif %}

					{% if event.files %}
						<h3>Files:</h3>
						<ul>
						{% for file in event.files%}
							<li>
								<a href="{{ file.link }}">
								{{ file.name }}
								</a>
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="line-chunk"></div>
</div>

{% include foot.html %}